@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-3xl md:text-7xl tracking-tight;
}

h2 {
  @apply text-3xl md:text-6xl tracking-tight;
}

h3 {
  @apply text-2xl md:text-4xl md:whitespace-nowrap;
}

h4 {
  @apply text-xl;
}

p {
  @apply text-base;
}

.chip {
  @apply rounded-full border py-0.5 px-2.5 text-center transition-all shadow-sm border-gray-900 dark:border-gray-50 text-sm uppercase text-gray-900 dark:text-gray-50;
}

.projectSection {
  @apply space-y-8 xl:space-y-0 xl:flex xl:flex-row;
}

.projectSectionLeft {
  @apply text-base md:text-lg md:w-1/3 uppercase font-bold;
}

.projectSectionRight {
  @apply md:space-y-8 md:w-2/3;
}
